
.navItem {
    padding-right: 15px;
}
.navItem a{
    text-decoration: none;
}
.active{
    color: red;
}
.inActive{
    color: white;
}
.Navbar{
    display: flex;
    margin-left: auto;
    padding-right: 20px;
}
